<html>
  <head>
    <title>Blogy Login</title>
  </head>
  <body>
    <form method="post">
        {% csrf_token %} 
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id = "uname" type="text" placeholder="Enter Username" name="username" required />

        <label for="psw"><b>Password</b></label>
        <input
          id ="psw"
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit">Login</button>
    </form>
  </body>
</html>
